<% include ../partials/header.ejs %>
     <form  method="post">
  <div class="container">
    <label><b>Title</b></label>
    <input type="text" placeholder="Enter TO DO" name="title" required>
   
   
    <div class="clearfix">
      
      <button type="submit" class="signupbtn">Add ToDO</button>
    </div>
  </div>
</form>
<% include ../partials/footer.ejs %>